.dropdown {
    border-radius: 6px;
}

.dropdown-header {
    padding: 0.75rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown-body {
    display: grid;
    position: absolute;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
}

.dropdown.open > .dropdown-body {
    grid-template-rows: 1fr;
}

.dropdown-list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 0.75rem 1rem;
    color: var(--text, #333);
    background-color: var(--bg);
    transition: background-color 0.1s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.dropdown-item:hover {
    background-color: color-mix(in srgb, #fff, black 6%);
}

.dropdown-item:first-child {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item:last-child {
    border-top: none;
    border-radius: 0 0 6px 6px;
}
