.dropdown {
    background-color: var(--secondary);
    border-radius: 6px;
}

.dropdown-header {
    padding: 0.75rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
}

.dropdown.open .dropdown-body {
    grid-template-rows: 1fr;
}

.dropdown-list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 0.75rem 2rem;
    color: var(--text, #333);
    background-color: color-mix(in srgb, var(--secondary), black 12%);
    transition: background-color 0.1s ease-in-out;
}

.dropdown-item:hover {
    background-color: color-mix(in srgb, var(--secondary), black 6%);
}

.dropdown-item:last-child {
    border-radius: 0 0 6px 6px;
}
