.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    border: 1px solid black;
    background-color: white;
    z-index: 100;
}

.modal.active {
    display: block;
}

.modal-header {
    padding: 1rem;
}

.modal-content {
    padding: 0 1rem;
}

.blackout {
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.blackout.active {
    display: block;
}
