.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    z-index: 100;
    padding: 1rem;
}

.modal.active {
    display: block;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 1rem;
}

.blackout {
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.blackout.active {
    display: block;
}

.no-scroll {
    overflow: hidden;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 12px;
    padding: 0.5rem;
    background-color: var(--btn-white);
}

.btn-close:active {
    background-color: var(--btn-white-active);
}