* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    background-color: var(--bg);
    align-items: center;
    padding: 0 5rem;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
