* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}

.header {
    width: 100%;
    height: 4rem;
    background-color: var(--primary);
}

.header-left {
    display: flex;
    width: 500px;
    height: 100%;
    justify-content: space-around;
    float: left;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

.animal-section {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.animal-card {
    width: 300px;
    height: 350px;
    padding: 1rem;
    border: 1px solid var(--inactive-text);
    border-radius: 12px;
    background-color: var(--accent);
    position: relative;
    display: flex;
    flex-direction: column;
}

.animal-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animal-card-header > img {
    width: 8rem;
    height: 8rem;
    border-radius: 12px;
}

.animal-info {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.animal-info__title {
    font-size: 1.5rem;
}

.animal-info-data {
    display: flex;
    justify-content: space-between;
}

.animal-info-type {

}

.animal-info-value {
    text-align: right;
    text-wrap: wrap;
}

.animal-add-btn {
    width: 300px;
    height: 3rem;
    background-color: var(--accent2) ;
    border: 1px solid var(--inactive-text);
    border-radius: 12px;
    text-align: center;
    align-content: center;
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

label > .error {
    display: none;
    color: red;
    padding-top: 0.5rem;
}

.show-error {
    display: block !important;
}
