* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}

.header {
    width: 100%;
    height: 4rem;
    background-color: var(--primary);
}

.header-left {
    display: flex;
    width: 500px;
    height: 100%;
    justify-content: space-around;
    float: left;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}
