:root {
    --text: #030b05;
    --bg: #fefae0;
    --base-border: #7d7d7d;
    --primary: #faedcd;
    --secondary: #d4a373;
    --accent: #ccd5ae;
    --accent2: #e9edc9;
    --inactive-text: #b0aaaa;
}
